<div class="jumbotron mt-4">
    <h1 class="display-4">MMApp con nodejs y mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sapiente, ratione architecto voluptas sed enim aperiam non obcaecati itaque, quod eum quibusdam, perspiciatis veniam ullam error repellat! Autem, cumque sit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Blanditiis, distinctio. Possimus nobis optio cupiditate eveniet veniam corrupti corporis hic nesciunt!</p>
    <a href="#" class="btn btn-primary">Zenerweb</a>
</div>